<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Transparent-login</title>
    
   
</head>
<body>
    {{>navbar}}
    
     <form action="/login"  method="POST">
        
        
            <input type="textbox" name="email" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="login">
            <a href="Forgot-passsword">Forgot-password</a>
       
    </form>
  
    
</body>
</html>