<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Transparent-login</title>
    
   
</head>
<body>
    
     <form class="box" action="index.html" >
        
        
            <input type="textbox" name="" placeholder="username">
            <input type="textbox" name="" placeholder="password">
            <input type="button" value="Login">
            <a href="Forgot-passsword">Forgot-password</a>
       
    </form>
  
    
</body>
</html>